@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.bg-theme {
    background-image: linear-gradient(to top, rgba(126, 213, 111, 0.8), rgba(40, 180, 131, 0.8));
}

body {
    background: whitesmoke;
}

.h-game {
    height: calc(100% - 2rem);
}

.h-half {
    height: 50%;
}

.w-half {
    width: 50%;
}

.my-15p {
    margin: 15% 0;
}

.Toastify__toast {
    text-align: center;
}

.Toastify__close-button {
    display: none;
}

.Toastify__toast--error {
    background-color: red !important;
}

.Toastify__toast--info {
    background-color: #4361ee !important;
}